/* [next]/internal/font/google/RrQIbot2_iBvI2mYSyKIrcgoBuQ4Eu2EF1qEL0gy-s.woff2 (static in css) */
/* embedded static asset "/_next/static/media/RrQIbot2_iBvI2mYSyKIrcgoBuQ4Eu2EF1qEL0gy-s.18c951a4.woff2" */