/* [next]/internal/font/google/RrQIbot2_iBvI2mYSyKIrcgoBuQ4HO2EF1qELw-s.p.woff2 (static in css) */
/* embedded static asset "/_next/static/media/RrQIbot2_iBvI2mYSyKIrcgoBuQ4HO2EF1qELw-s.p.a39bf437.woff2" */