/* [next]/internal/font/google/QGYwz_0dZAGKJJ4t3FFkc3Q8AkNP9Pj248KEHwgsiaPVIzHLeME-s.woff2 (static in css) */
/* embedded static asset "/_next/static/media/QGYwz_0dZAGKJJ4t3FFkc3Q8AkNP9Pj248KEHwgsiaPVIzHLeME-s.06eb8d73.woff2" */