/* [next]/internal/font/google/QGYwz_0dZAGKJJ4t3FFkc3Q8AkNP9Pj248KEEQgsiaPVIzHL-s.p.woff2 (static in css) */
/* embedded static asset "/_next/static/media/QGYwz_0dZAGKJJ4t3FFkc3Q8AkNP9Pj248KEEQgsiaPVIzHL-s.p.eab50215.woff2" */